@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    input {
        @apply flex-1 px-3 py-2 placeholder-gray-300 border border-gray-300 rounded-md sm:mr-5 focus:outline-none focus:ring focus:ring-indigo-100 focus:border-indigo-300 dark:bg-gray-800 dark:text-white dark:placeholder-gray-400 dark:border-gray-600 dark:focus:ring-gray-900 dark:focus:border-gray-500
    }
}

@layer components {

    # Todo, improve this component
    .tabs {
        @apply flex flex-wrap text-sm font-medium text-center text-gray-500 border-b border-gray-200 dark:border-gray-700 dark:text-gray-400
    }

    .tabs li {
        @apply mr-2
    }

    .tabs li a {
        @apply inline-block p-4 text-blue-600 bg-gray-100 rounded-t-lg dark:bg-gray-800 dark:text-blue-500
    }

    .tabs li a.is-active {
        @apply text-white bg-blue-800
    }
}