{#
/**
 * @file
 * Default theme implementation to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - messages: Status and error messages. Should be displayed prominently.
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.primary_menu: Items for the primary menu region.
 * - page.secondary_menu: Items for the secondary menu region.
 * - page.highlighted: Items for the highlighted content region.
 * - page.help: Dynamic help text, mostly for admin pages.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.footer: Items for the footer region.
 * - page.breadcrumb: Items for the breadcrumb region.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 *
 * @ingroup themeable
 */
#}

<div class="fixed top-0 w-full px-5 md:px-10 2xl:px-16 bg-white border-b dark:bg-gray-900 dark:border-gray-700 z-10">
    <div class="relative flex flex-wrap items-center justify-between py-4 mx-auto lg:justify-betwe">
        <nav class="">
            {{ page.primary_menu }}
        </nav>
    </div>
</div>

<div class="flex flex-col min-h-screen pt-16">
    {% if page.header %}
        <header role="banner" class="self-center max-w-6xl py-10 mx-10 text-center">
            {{ page.header }}
        </header>
    {% endif %}

    {% if page.highlighted %}
        <div class="self-center max-w-6xl py-10 mx-10 text-center">
            {{ page.highlighted }}
        </div>
    {% endif %}

    <div class="container hidden max-w-screen-xl mb-8"></div>
    <main role="main"
          class="px-5 pt-8 pb-16 mb-16 border-t border-b md:px-10 2xl:px-16 border-truegray-200 bg-truegray-50 dark:bg-gray-800 dark:border-gray-700">
        <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}

        {% if page.breadcrumb %}
            <div class="flex flex-wrap max-w-screen-lg gap-10 mx-auto lg:flex-nowrap mb-8">
            {{ page.breadcrumb }}
            </div>
        {% endif %}

        <div class="flex flex-wrap max-w-screen-xl gap-10 mx-auto lg:flex-nowrap">
            <div class="flex-grow">
                {{ page.content }}
            </div>
            {% if page.right %}
                <div class="flex-shrink-0 w-full lg:w-80 lg:order-2">
                    {{ page.right }}
                </div>
            {% endif %}
        </div>
    </main>

    {% if page.footer %}
        <footer class="mt-20 text-left border-t border-gray-200 dark:border-gray-800">
            <div class="max-w-screen-lg px-5 mx-auto my-14">
                {{ page.footer }}
            </div>
            <div class="my-20 text-center">
                <p class="py-3 text-sm text-gray-600 text-opacity-50 dark:text-gray-500">
                    Copyright© 2022. Todo, Sitename</p>
            </div>
        </footer>
    {% endif %}

</div>
